tlgdb_2018_a_25_ma.gdb
tlgdb_2018_a_25_ma.gdb.zip
tlgdb_2018_a_25_ma_edges.gdb
tlgdb_2018_a_25_ma_edges.gdb.zip
tlgdb_2018_a_us_school.gdb
tlgdb_2018_a_us_school.gdb.zip
AppendixA (1).xlsx
AppendixB (1).xlsx
AttritionReport.xlsx
C2017DEP.zip
C2017_A.zip
C2017_B.zip
C2017_C.zip
District-Grade.xlsx
District-GradeGender.xlsx
District-GradeRace.xlsx
EFFY2017 (1).zip
EFFY2017.zip
EFIA2017 (1).zip
EFIA2017.zip
EducatorEvalPerf.xlsx
HD2017.zip
IC2017.zip
IC2017_AY.zip
IC2017_PY.zip
School-Grade.xlsx
School-GradeGender.xlsx
School-GradeRace.xlsx
SpecPopulations.xlsx
StudentIndicators.xlsx
appendixa (2).xlsx
appendixa.xlsx
appendixb (2).xlsx
appendixb.xlsx
colleges.zip
dg2017-2018.xlsx
dgr2017-2018.xlsx
effy2017 2.csv
effy2017.csv
enrollmentbyracegender.xls
gradesbydistrict.xls
mcas.xlsx

nonpublicschoolreport.xlsx
parcc.xls
plansforhsgrad.xlsx
schooldistricts.zip
schools (1)
schools (1).zip
schools 2
schools.zip
search (1).xls
search (2).xls
search (3).xls
search (4).xls
search (5).xls
search (6).xls
search (7).xls
search (8).xls
search (9).xls
search.xls
sg2017-2018.xlsx
sgr2017-2018.xlsx
summary (1).docx
summary.docx
